.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  color: hotpink;
  font-weight: bold;
  text-decoration: line-through;
}

.btn {
  margin: 0 3px;
}

.btn-active {
  background-color: hotpink;
  color: white;
  outline: none;
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid hotpink;
}
.error {
  border: 2px solid red;
  outline: none;
}
